html {
  height: 100%;
}

body {
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  
}

h1, p {
  font-family: 'Kumbh Sans', sans-serif;
  color: hsl(238, 29%, 16%);
  line-height: 1.5em;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

p {
  font-size: 12px;
  font-weight: 400;
  color: hsl(240, 6%, 50%);
}

/* ----------------------- Image ---------------------- */

.main-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -255px;
  margin-left: -460px;
  width: 920px;
  height: 510px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 30px 40px hsl(245, 40%, 50%);
}

.main-container {
  display: flex;
  align-items: stretch;
  height: 100%;
}

.container-item {
  width: 100%;
}

.background-image {
  background-image: url("/images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-position: left -550px bottom -150px;
  height: 100%;
}

.middle-image {
  background-image: url("/images/illustration-woman-online-desktop.svg");
  background-repeat: no-repeat;
  background-position: left -55px bottom 60px;
  height: 100%;
}

.upper-image {
  position: absolute;
  left: -80px;
  top: 220px;
}

/* ---------------------- Accordion --------------------- */

.right-content {
  padding: 70px 80px 40px 20px;
}

.accordion-list {
  margin-top: 10px;
}

.list-title {
  font-size: 14px;
  margin: 8px 0;
  font-weight: 700;
  cursor: pointer;
  color: hsl(237, 12%, 33%);
  -moz-transition: color .2s;
  -webkit-transition: color .2s;
  -o-transition: color .2s;
}

.list-title:hover {
  color: hsl(14, 88%, 65%);
}

.list-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.accordion-container {
  display: flex;
  align-items: flex-start;
}

.container-item-title {
  flex: 1;
}

.container-item-arrow {
  width: 12px;
  height: 8px;
  margin-top: 13px;
  cursor: pointer;
}

.arrow-up {
  transform: rotate(180deg);
}

hr {
  height: 1px;
  border-width: 0;
  background-color: hsl(240, 5%, 91%);
}

.focused {
  font-weight: 700;
}

/* --------------------- Attribution -------------------- */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
